/* ---------------------------- */
/* -----Estilos Iniciales------ */
/* ---------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
}

/* ---------------------------- */
/* ----Encabezado o Header----- */
/* ---------------------------- */ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.left-header {
    display: flex;
    text-decoration: none;
    color: #ffff;
}

.logo-header {
    width: 40px;
    height: 40px;
}

.titulo-header {
   margin-left: 10px;
   font-size: 1.5rem;
   margin-top: 3px;
}

.perfil img {
    margin-right: 18px;
    width: 40px;
    height: 40px;
}

main {
    padding: 85px 20px 20px 20px;
    min-height: 100vh;
}

/* ---------------------------- */
/* -----Tarjetas de Cursos----- */
/* ---------------------------- */
.panel-cursos {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
                15.5rem,
                15.5rem
        )
    );
    gap: 20px;
}

.tarjeta-curso {
    background-color: #ffff;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.67);
    box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.67);
}

.tarjeta-curso:hover {
    -webkit-box-shadow: 1px 6px 42px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 6px 42px -6px rgba(0,0,0,0.67);
    box-shadow: 1px 6px 42px -6px rgba(0,0,0,0.67);
}

.curso-img {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.curso-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.curso-img img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.cuerpo-tarjeta {
    padding: 8px 20px 20px 20px;
}

.cuerpo-tarjeta a {
    text-decoration: none;
}

.nombre-curso {
    color: #00bb89;
}

.codigo-curso {
    color: rgb(0, 56, 77);
}

.anio-curso {
    color: rgb(0, 88, 139);
}

.nombre-curso, 
.codigo-curso, 
.anio-curso {
    width: calc(15.5rem - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---------------------------- */
/* ------Página de Lógin------- */
/* ---------------------------- */
.login-page {
    display: flex;
    justify-content:center;
    align-items: center;
    height:90vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.67);
    box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.67);
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding: 35px;
    margin-right: 50px;
    width: 100%;
    max-width: 250px;
    border-radius: 1.5rem;
}

.login-container:hover {
    -webkit-box-shadow: 1px 6px 42px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 6px 42px -6px rgba(0,0,0,0.67);
    box-shadow: 1px 6px 42px -6px rgba(0,0,0,0.67);
}

.titulo-login {
    margin-bottom: 1rem;
}

.login-form label {
    margin-top: 50px;
}

.login-form input {
    width: 15rem;
    padding: 10px;
    color: rgb(0, 139, 214);
    font-size: 1.1rem;
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.login-form input:focus {
    border: #0077ff solid;
}

.center-button-login {
    width: 100%;
    display: flex;
    justify-content: center;
}

.center-button-login button {
    width: 10rem;
    padding: 10px;
    border: none;
    background-color: #009cbb;
    color: #ffff;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.center-button-login button:hover {
    background-color: #006377;
    cursor: pointer;
}

.img-login-container img {
    width: 500px;
    border-radius: 1.5rem;
}

/* ------------------------------------ */
/* ------Página de Detalle Curso------- */
/* ------------------------------------ */
.fondo-descripcion-curso {
    width: 100%;
    height: 360px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.fondo-descripcion-curso img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fondo-obscuro-desc-curso {
    position: absolute;
    width: calc(100% - 40px);
    height: 360px;
    z-index: 2;
    background: #0000003e;
    backdrop-filter: blur(3px);
    border-radius: 1rem;
}

.descripcion-curso-caption {
    position: absolute;
    z-index: 3;
    padding: 20px;
    margin-top: 200px;
    color: #ffff;
    font-size: 1.5rem;
}

.titulo-curso-detalle {
    width: calc(100% - 80px);
    position: absolute;
    z-index: 4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px;
    background-color: rgba(26, 154, 163, 0.972);
    color: #ffff;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.tabla-actividades-curso {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #0093E9;
    margin-top: 20px;
}

.header-tabla-actividades {
    background: #0093E9;
    border-bottom: 3px solid #87d3ff;
    margin-top: 18px;
    margin-bottom: -20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-tabla-actividades {
    color: #ffff;
    font-size: 1.5rem;
}

.agregar-actividad-btn {
    border: 6px solid #00a075;
    background: #00bb89;
    color: #ffff;
    padding: 10px 15px;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s ease;
}

.agregar-actividad-btn:hover {
    border: 6px solid #00ffbb;
    background: #00ca94;
    width: 300px;
    cursor: pointer;
}

.agregar-actividad-btn:active {
    border: 6px solid #005e45;
    background: #00b383;
}

.agregar-actividad-btn:hover > .texto-hover-add {
    margin-left: 10px;
}

.texto-hover-add {
    margin-left: 20px;
}

.tabla-actividades-curso tbody td {
    text-align: center;
}

.tabla-actividades-curso tfoot th {
    text-align: center;
}

.tabla-actividades-curso thead th {
    background: #0093E9;
    color: #ffff;
}

.tabla-actividades-curso tbody tr:nth-of-type(even) {
    background:rgb(208, 248, 255);
}

.tabla-actividades-curso tbody tr:nth-of-type(odd) {
    background:rgb(0, 217, 255);
}

.tabla-actividades-curso thead th, 
.tabla-actividades-curso tbody td,
.tabla-actividades-curso tfoot th,
.tabla-actividades-curso tfoot td {
    border: 3px solid #0093E9;
}

.edit-activity-btn,
.delete-activity-btn {
    font-size: 1.4rem;
    padding: 7px;
    margin: 2px;
    border: none;
    border-radius: 0.5rem;
}

.edit-activity-btn {
    padding-left: 10px;
    background: #2b2e6c;
    color: #ffff;
}

.edit-activity-btn:hover {
    background: #696ed2;
    cursor: pointer;
}

.edit-btn-tag,
.delete-btn-tag {
    background: #414141b0;
    color: #ffff;
    padding: 5px;
    font-size: 1rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.5rem;
    position: absolute;
    width: 115px;
    margin-top: -35px;
    margin-left: -52px;
    display: none;
}

.edit-activity-btn:hover > .edit-btn-tag {
    display: block;
}

.delete-activity-btn {
    background: rgb(243, 55, 55);
    color: #ffff;
}

.delete-activity-btn:hover {
    background: rgb(255, 68, 0);
    cursor: pointer;
}

.delete-activity-btn:hover > .delete-btn-tag {
    display: block;
}

.container-grafica {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grafico-interno {
    width: 100%;
    max-width: 900px;
}

.titulo-grafica {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}


/* -------------------------------- */
/* -----Pie de Página o Footer----- */
/* -------------------------------- */

footer {
    background: #181818;
    color: #ffff;
    padding: 20px;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    width: 100px;
}

.columna-footer ul li {
    list-style: none;
}

.titulo-footer {
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #282828;
    padding: 20px;
    border-radius: 20px;
}

.nombre-desarrollador {
    text-decoration: none;
    color: rgb(27, 179, 173);
}

.link-mas-info {
    text-decoration: none;
    color: rgb(0, 136, 210);
}

/* ------------------------------------------- */
/* -----Para dispositivos moviles grandes----- */
/* ------------------------------------------- */
@media screen and (max-width: 768px) {

    .titulo-header {
        font-size: 1.3rem;
    }

    .panel-cursos {
        grid-template-columns: repeat(
            auto-fit,
            minmax(
                    15.5rem,
                    1fr
            )
        );
    }

    .login-page {
        flex-direction: column;
    }

    .login-container {
        margin-right: 0;
    }

    .img-login-container img {
        display: none;
    }

    .titulo-tabla-actividades {
        font-size: 1.2rem;
    }

    .agregar-actividad-btn {
        font-size: 0.9rem;
    }

    .agregar-actividad-btn:hover {
        width: 360px;
    }

    .agregar-actividad-btn {
        width: 53px;
    }
    
    .texto-hover-add {
        margin-left: 10px;
    }

    .container-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-footer-container {
        width: calc(100% - 40px);
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: rgb(208, 248, 255);
        border-radius: 1rem;
    }

    .titulo-footer {
        margin-top: 0.5rem;
    }

    .columna-footer {
        padding: 10px;
    }

    .footer-copyright {
        flex-direction: column;
    }
}



